<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Assignment270509</display-name>
  <welcome-file-list>
    <welcome-file>BankLogin.jsp</welcome-file>
    <welcome-file>ApplicationPage.jsp</welcome-file>
    <welcome-file>IncomePage.jsp</welcome-file>
    <welcome-file>EligibilityInfoPage.jsp</welcome-file>
    <welcome-file>ConfirmationPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>LoginPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApplicationInformationPage</servlet-name>
    <servlet-class>ApplicationInformationPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncomePage</servlet-name>
    <servlet-class>IncomePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EligibilityInfoPage</servlet-name>
    <servlet-class>EligibilityInfoPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmPage</servlet-name>
    <servlet-class>ConfirmPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmationPage</servlet-name>
    <servlet-class>ConfirmationPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationInformationPage</servlet-name>
    <url-pattern>/ApplicationInformationPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncomePage</servlet-name>
    <url-pattern>/IncomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EligibilityInfoPage</servlet-name>
    <url-pattern>/EligibilityInfoPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmPage</servlet-name>
    <url-pattern>/ConfirmPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmationPage</servlet-name>
    <url-pattern>/ConfirmationPage</url-pattern>
  </servlet-mapping>
</web-app>